{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>sher</title>
{% endblock title %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sher</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body> -->
    <!-- <nav id="navbar">
        <div id="first_part"><img src="{% static 'Sheryians_logo.webp' %}" alt="" id="sher_icon"><a href="" class="links">Sheryians Coding school</a>
            
        </div>
        <div id="second_part"><a href="" class="links" target="#">Home</a>
            <a href="{% url 'sherapp:courses' %}" class="links" target="_blank">Courses</a>
            <a href="" class="links" target="_blank">Bootcamp(Kodr)</a>
            <a href="" class="links" target="_blank">Request Callback</a>
            <a href="" class="links" target="_blank"><button id="signin_button">Sign In</button></a></div>
    </nav> -->
    {% block body%}
    <div id="main">
        <h1 id="heading">We Only
            <span class="color_text" >teach</span><br>What We are really <br> really <i>good</i> at.</h1>
            <div id="sidetext">
                Get ready to <span class="color_text">accelerate
                your <br> career </span> with customized courses <br> and leave your mark in the tech <br>
                industry
            </div>
    </div>
    <br><br>
    <a href=""><button id="check_button">Check Courses-Make an Impact</button></a>
    <div id="num">
        <div class="numcards"><h1>25k+</h1><h4>Students taught</h4></div>
        <div class="numcards"><h1>20+</h1><h4>Instructors</h4></div>
        <div class="numcards"><h1>431k+</h1><h4>YouTube Subs.</h4></div>
    </div>
    <div id="main_two">
        we do whatever it takes to help your <br>
        <span class="color_text">understand the concepts.</span>
    </div>
    <div id="video">
        <iframe frameborder="0" src="https://www.youtube.com/embed/60SRAWmMXyc"id="videoone_img"></iframe>
    </div>
    <button id="explore">Explore free learning</button>
    <div id="courses">
        <h1 id="offer">Courses Offered.</h1><br><br>
        <div class="course_video"><img src="{% static 'first.png' %}" alt="" class="course_images"></div>
        <div class="course_video"><img src="{% static 'second.png' %}" alt="" class="course_images"></div>
        <div class="course_video"><img src="{% static 'third.png' %}" alt="" class="course_images"></div>
        <div class="course_video"><img src="{% static 'fourth.png' %}" alt="" class="course_images"></div>
        <br><br>
        <div id="video_button">
            <button class="details_button" >view details</button>
            <button class="details_button">view details</button>
            <button class="details_button">view details</button>
            <button class="details_button">view details</button>
        </div>
        <br><br>
        <div class="course_video">
            <img src="{% static 'fifth.png' %}" alt="" class="course_images">
        </div>
        <div id="lb_div">
            <button id="last_button">view details</button>
        </div>
    </div>
    <div id="company">Top <span class="color_text">companies</span> our students <br> working with</div>
    <div id="industry">
        <img src="https://ik.imagekit.io/sheryians/companies-logo/companies_CcvVE6pUo.png" alt="" id="company_logo">
    </div>
    <div id="explore_div">
        <button id="explore_button">Explore courses</button>
    </div>
    {% endblock body%}
    <!-- <div id="footer">
        <div class="ending_details" id="last_one">
            <div id="inner_div">
                <img src="{% static 'Sheryians_logo.webp' %}" alt="" id="sher_pic">
            </div>
            <span id="social_text">
                Let's connect with our socials
            </span>
        </div>
        <div class="ending_details" id="last_two">
            <h1 class="ending_headings" id="heading_one">company</h1>
            <br><br>
            <a href="" class="last_anchor_one"><h3>About us</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>support</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>Privacy Policy</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>Terms and Condition</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>Pricing and Refund</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>Hire From us</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>Bug bounty</h3></a>
        </div>
        <div class="ending_details" id="last_three">
            <h1>Community</h1>
            <br><br>
            <a href="" class="last_anchor_one"><h3>Inertia</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>Discord</h3></a>
        </div>
        <div class="ending_details" id="last_four">
            <h1>Get in Touch</h1>
            <br><br>
            <a href="" class="last_anchor_one"><h3>+918109161752</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>+91 9691778470</a></h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>hello@sheryians.com</h3></a>
            <br>
            <a href="" class="last_anchor_one"><h3>23-B, Indrapuri Sector C, <br>Bhopal(MP),462021</h3></a>
        </div>
    </div>
    <div id="end_divison">
        <h3>Copyright © 2024 Sheryians Pvt. Ltd.
            <br>
            All Rights Reserved.
        </h3>
    </div> -->
<!-- </body>
</html> -->